<div class="bg">
    <div class="container">

        <div class="row">
            <div class="col-md-12 mb-4">
                <h1 class="text-center txt">Apagar Postagem</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-4">
                <h4 class="text-center txt">Você tem certeza que deseja apagar essa postagem?</h4>
            </div>
        </div>

        <div class="row mb-4 justify-content-center">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body linha">
                        <h5 class="card-title fs-12 m-0">{{postagem.titulo}}</h5>
                        <small class="text f-12">Tema: {{postagem.tema.descricao}}</small>
                        <p class="card-text fs-10 mt-3">{{postagem.texto}}</p>
                        <p class="card-text "><small class="text f-12">
                                {{postagem.data | date: 'dd/MM/yyyy'}} às {{postagem.data | date: 'HH:mm'}}
                            </small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <button class="btn btn-outline-dark mr-4 hr" routerLink="/tema">Não</button>
                <button class="btn btn-outline-dark hb" (click)="apagar()">Sim</button>
            </div>
        </div>

    </div>
</div>