.bg{
    background-color: lavender;
}
.f-30{
    font-size: 30pt;
    color: darkcyan;
}

.ft{
    color: darkcyan;
    font-size: 12pt;
}

.linha{
    padding: 20px;
    background-color: lavenderblush;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  .hb:hover{
    background-color: cornflowerblue;
    color: #ffffff ;
  }
  
  .hr:hover{
    background-color: crimson;
    color: #ffffff;
  }
  

  .borda{
    border: 1px solid darkcyan;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  }