.txt{
    color: darkcyan;
}

.bg{
    background-color: lavender;
}

.tl{
    background-color:  darkcyan;
}

.hb:hover{
    background-color: cornflowerblue;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.hr:hover{
    background-color: crimson;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.borda{
    border: 1px solid darkcyan;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  }

  .btn {
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  }

  .hdc:hover{
    background-color: darkcyan;
    color: #ffffff ;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  }
  
  .linha{
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
  }